  .twitch {
    position: relative;
	width: 50%;
	height: 50%;
	margin: auto;
  }

  .twitch .twitch-video {
    width: 75%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

