@font-face {
    font-family: 'fStop';
    src: url('docs/assets/fStop.ttf') format('truetype');
    font-style: normal;
}



h1{
	margin:0;
    padding:0;
	text-align: center;
	font-family: fStop;
	color: white;
	font-size: 6rem;
	line-height: 1em;
	overflow: hidden;
	text-shadow: .25rem .25rem #5a80ad;
	  transform: scale(1, .825);
	-webkit-transform: scale(1, .666); /* Safari and Chrome */
	-moz-transform: scale(1, .666); /* Firefox */
	-ms-transform: scale(1, .666); /* IE 9+ */
	-o-transform: scale(1, .666); /* Opera */
}

h3{
	margin:0;
    padding:0;
	text-align: center;
	font-family: fStop;
	color: white;
	font-size: 3rem;
	line-height: 1em;
	overflow: hidden;
	text-shadow: .25rem .25rem #5a80ad;
	  transform: scale(1, .825);
	-webkit-transform: scale(1, .666); /* Safari and Chrome */
	-moz-transform: scale(1, .666); /* Firefox */
	-ms-transform: scale(1, .666); /* IE 9+ */
	-o-transform: scale(1, .666); /* Opera */
}

html {
  background-image: url(docs/assets/poolwash.jpg);
  background-repeat: repeat; 
}

html,
body {
    min-height: 100%;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

.wrapper {
    width: 100%;
    max-width: 80%;
    padding: 15px;
    margin: 0 auto;
}

.page {
    min-height: 100%;
    padding-bottom: 60px;
	padding-top: 60px;
}
.page:after {
    content: "";
    display: block;
}

.row {
    width: 100%;
    clear: both;
}
.cell {
    padding: 15px;
    display: block;
    margin: 0;
}
.cell .cell {
    padding: 0;
}

.cell-12 {
    width: 100%;
}
.cell-offset-12 {
    margin-left: 100%;
}


.twitch {
    position: relative;
}
.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}
.twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.twitch .twitch-chat {
    height: 400px;
}
.twitch .twitch-chat iframe {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 850px) {
    .twitch .twitch-video {
        width: 75%;
        padding-top: 42.1875%;
    }
    .twitch .twitch-chat {
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
