	
.cell{padding:0 15px;float:left;display:block;margin:0}

.cell-12{width:100%}

.row {
	width:100%;clear:both
	}
	
  .twitch {
    position: relative;
  }

  .twitch .twitch-video {
    width: 75%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

